<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myservice"
    android:versionCode="1"
    android:versionName="1.0"
     >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY"/>
	
	
    <application 
        android:persistent="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myservice.MainActivity"
            android:label="@string/app_name" >
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
            android:exported="false"
            android:name="com.example.service.MyService"
            >
            <intent-filter android:priority="1000" >
                <action android:name="com.example.myservice"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
        <service
            android:exported="false"
            android:name="com.example.service.NewService"
            android:process=":new"
            >
            <intent-filter android:priority="1000" >
                <action android:name="com.example.NewService"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
        <receiver 
            android:enabled="true"
            android:exported="true"
            android:name="com.example.broadcast.BootBroadcast"
            >
            <intent-filter
                android:priority="1000">  
                <!-- <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="com.example.broad.action"/>  -->
	        	<action android:name="android.intent.action.BOOT_COMPLETED" /> 
	        	<category android:name="android.intent.category.LAUNCHER" />
		    </intent-filter>
        </receiver>
        
        <receiver 
            android:enabled="true"
            android:exported="true"
            android:name="com.example.broadcast.AlarmReceiver"
            >
            <intent-filter >
                <action android:name="com.example.alarm.action"/>
            </intent-filter>
        </receiver>
        
        <receiver 
            android:enabled="true"
            android:exported="true"
            android:name="com.example.broadcast.ScreenStatusReceiver">
            <intent-filter >
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
